openapi: 3.0.3
info:
  title: Online Courses Platform API
  description: API для платформы онлайн-курсов (аналог Docusaurus + LMS функционал)
  version: 0.1.0
  contact:
    name: Artem
    email: artem@example.com

servers:
  - url: https://api.courses-platform.com/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local development

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        fullName:
          type: string
        avatarUrl:
          type: string
          nullable: true
        role:
          type: string
          enum: [student, instructor, admin]
        createdAt:
          type: string
          format: date-time

    Course:
      type: object
      properties:
        id:
          type: integer
          format: int64
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        coverUrl:
          type: string
        status:
          type: string
          enum: [draft, published, archived]
        price:
          type: number
        currency:
          type: string
          example: EUR
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CourseCreate:
      type: object
      required: [title, slug]
      properties:
        title:
          type: string
          minLength: 3
        slug:
          type: string
          pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
        subtitle:
          type: string
        description:
          type: string
        coverUrl:
          type: string
          format: uri
        price:
          type: number
          minimum: 0
        currency:
          type: string
          example: EUR
        level:
          type: string
          enum: [beginner, intermediate, advanced]

    CourseUpdate:
      type: object
      properties:
        title:
          type: string
        slug:
          type: string
        subtitle:
          type: string
        description:
          type: string
        coverUrl:
          type: string
          format: uri
        status:
          type: string
          enum: [draft, published, archived]
        price:
          type: number
          minimum: 0
        currency:
          type: string
        level:
          type: string
          enum: [beginner, intermediate, advanced]

    Section:
      type: object
      properties:
        id:
          type: integer
          format: int64
        courseId:
          type: integer
          format: int64
        title:
          type: string
        order:
          type: integer
        isFreePreview:
          type: boolean
        estimatedTime:
          type: integer
          description: minutes
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SectionCreate:
      type: object
      required: [title, order]
      properties:
        title:
          type: string
        order:
          type: integer
        isFreePreview:
          type: boolean
          default: false
        estimatedTime:
          type: integer
          description: minutes

    SectionUpdate:
      type: object
      properties:
        title:
          type: string
        order:
          type: integer
        isFreePreview:
          type: boolean
        estimatedTime:
          type: integer

    Lesson:
      type: object
      properties:
        id:
          type: integer
          format: int64
        sectionId:
          type: integer
          format: int64
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment, pdf, coding, embed]
        content:
          type: string
          description: URL видео, текст, markdown, JSON для quiz и т.д.
        order:
          type: integer
          description: Порядковый номер урока внутри раздела
        durationSec:
          type: integer
          nullable: true
        isPublished:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LessonCreate:
      type: object
      required: [title, type, order]
      properties:
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment, pdf, coding, embed]
        content:
          type: string
        order:
          type: integer
        durationSec:
          type: integer
        isPublished:
          type: boolean
          default: false

    LessonUpdate:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment, pdf, coding, embed]
        content:
          type: string
        order:
          type: integer
        durationSec:
          type: integer
        isPublished:
          type: boolean

    Enrollment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [active, completed, expired, refunded]
        progress:
          type: number
          format: float
          description: 0-100
        enrolledAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer

paths:
  /auth/register:
    post:
      operationId: authRegisterUser
      summary: Регистрация нового пользователя
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, fullName]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                fullName: { type: string }
      responses:
        "201":
          description: Пользователь успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/login:
    post:
      operationId: authLoginUser
      summary: Авторизация пользователя
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        "200":
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: "#/components/schemas/User"

  /courses:
    get:
      operationId: coursesList
      summary: Список всех опубликованных курсов (для всех пользователей)
      tags: [Courses]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 12
        - name: category
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
          description: Поиск по названию или описанию
      responses:
        "200":
          description: Список курсов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Course"
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
        "400":
          description: Некорректные параметры запроса

    post:
      operationId: coursesCreate
      summary: Создание нового курса (только для преподавателей и админов)
      tags: [Courses]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CourseCreate"
      responses:
        "201":
          description: Курс успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "400":
          description: Некорректные данные (например, slug уже занят)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Недостаточно прав

  /courses/{courseId}:
    get:
      operationId: coursesGetById
      summary: Получить подробную информацию о курсе
      tags: [Courses]
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Детали курса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "404":
          description: Курс не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      operationId: coursesUpdate
      summary: Частично обновить курс (для преподавателей и админов)
      tags: [Courses]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CourseUpdate"
      responses:
        "200":
          description: Курс обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Нет прав на редактирование этого курса
        "404":
          description: Курс не найден

    delete:
      operationId: coursesDelete
      summary: Удалить курс (только для админов или владельца)
      tags: [Courses]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Курс успешно удалён
        "403":
          description: Нет прав на удаление (например, курс имеет активных студентов)
        "404":
          description: Курс не найден

  /courses/{courseId}/sections:
    get:
      operationId: coursesGetSections
      summary: Получить все разделы курса
      tags: [Sections]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: includeUnpublished
          in: query
          schema:
            type: boolean
            default: false
          description: Включать неопубликованные разделы (для авторов курса)
      responses:
        "200":
          description: Список разделов курса
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Section"
        "404":
          description: Курс не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      operationId: coursesCreateSection
      summary: Создать новый раздел в курсе (для преподавателей/админов)
      tags: [Sections]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SectionCreate"
      responses:
        "201":
          description: Раздел успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Section"
        "400":
          description: Некорректные данные (например, order уже занят)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Нет прав на создание раздела в этом курсе
        "404":
          description: Курс не найден

  /courses/{courseId}/sections/{sectionId}:
    get:
      operationId: sectionsGetById
      summary: Получить информацию об одном разделе курса
      tags: [Sections]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Детали раздела
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Section"
        "403":
          description: Нет доступа (раздел скрыт и пользователь не автор)
        "404":
          description: Раздел или курс не найден

    patch:
      operationId: sectionsUpdate
      summary: Обновить раздел (для преподавателей/админов)
      tags: [Sections]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SectionUpdate"
      responses:
        "200":
          description: Раздел обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Section"
        "400":
          description: Некорректные данные
        "403":
          description: Нет прав на редактирование
        "404":
          description: Раздел или курс не найден

    delete:
      operationId: sectionsDelete
      summary: Удалить раздел (для преподавателей/админов)
      tags: [Sections]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Раздел успешно удалён
        "403":
          description: Нет прав на удаление (например, в разделе есть уроки)
        "404":
          description: Раздел или курс не найден

  /courses/{courseId}/sections/{sectionId}/lessons:
    get:
      operationId: sectionsGetLessons
      summary: Получить список всех уроков в разделе курса
      tags: [Lessons]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
        - name: publishedOnly
          in: query
          schema:
            type: boolean
            default: true
          description: Показывать только опубликованные уроки (для студентов)
      responses:
        "200":
          description: Список уроков раздела
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Lesson"
        "404":
          description: Курс или раздел не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      operationId: sectionsCreateLesson
      summary: Создать новый урок в разделе (для преподавателей/админов)
      tags: [Lessons]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LessonCreate"
      responses:
        "201":
          description: Урок успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lesson"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Нет прав на создание урока в этом курсе
        "404":
          description: Курс или раздел не найден

  /courses/{courseId}/sections/{sectionId}/lessons/{lessonId}:
    get:
      operationId: lessonsGetById
      summary: Получить информацию об одном уроке
      tags: [Lessons]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
        - name: lessonId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Детали урока
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lesson"
        "403":
          description: Нет доступа (например, урок не опубликован и пользователь не автор курса)
        "404":
          description: Урок не найден

    patch:
      operationId: lessonsUpdate
      summary: Обновить урок (для преподавателей/админов)
      tags: [Lessons]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
        - name: lessonId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LessonUpdate"
      responses:
        "200":
          description: Урок обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lesson"
        "400":
          description: Некорректные данные
        "403":
          description: Нет прав на редактирование
        "404":
          description: Урок не найден

    delete:
      operationId: lessonsDelete
      summary: Удалить урок (для преподавателей/админов)
      tags: [Lessons]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: sectionId
          in: path
          required: true
          schema:
            type: integer
        - name: lessonId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Урок успешно удалён
        "403":
          description: Нет прав на удаление
        "404":
          description: Урок не найден

  /courses/{courseId}/enroll:
    post:
      operationId: enrollmentsEnrollInCourse
      summary: Записаться на курс / купить курс
      tags: [Enrollments]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                promoCode:
                  type: string
      responses:
        "200":
          description: Успешная запись на курс
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enrollment"
        "402":
          description: Требуется оплата
        "409":
          description: Уже записан на курс

  /me/progress:
    get:
      operationId: progressGetUserProgress
      summary: Прогресс пользователя по всем курсам
      tags: [Progress]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Прогресс по курсам
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    courseId: { type: integer }
                    progress: { type: number }
                    status: { type: string }

  /me/courses/{courseId}/lessons/{lessonId}/progress:
    patch:
      operationId: progressUpdateLessonProgress
      summary: Обновить прогресс урока
      tags: [Progress]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: lessonId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                percent:
                  type: number
                completed:
                  type: boolean
                lastWatchedSec:
                  type: integer
      responses:
        "200":
          description: Прогресс обновлен
