openapi: 3.0.3
info:
  title: Online Courses Platform API
  description: API для платформы онлайн-курсов (аналог Docusaurus + LMS функционал)
  version: 0.1.0
  contact:
    name: Artem
    email: artem@example.com

servers:
  - url: https://api.courses-platform.com/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local development

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        fullName:
          type: string
        avatarUrl:
          type: string
          nullable: true
        role:
          type: string
          enum: [student, instructor, admin]
        createdAt:
          type: string
          format: date-time

    Course:
      type: object
      properties:
        id:
          type: integer
          format: int64
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        coverUrl:
          type: string
        status:
          type: string
          enum: [draft, published, archived]
        price:
          type: number
        currency:
          type: string
          example: EUR
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        createdAt:
          type: string
          format: date-time

    Section:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        order:
          type: integer
        isFreePreview:
          type: boolean
        estimatedTime:
          type: integer
          description: minutes

    Lesson:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment, pdf, coding, embed]
        order:
          type: integer
        durationSec:
          type: integer
          nullable: true
        isPublished:
          type: boolean

    Enrollment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [active, completed, expired, refunded]
        progress:
          type: number
          format: float
          description: 0-100
        enrolledAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer

paths:
  /auth/register:
    post:
      summary: Регистрация нового пользователя
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, fullName]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                fullName: { type: string }
      responses:
        "201":
          description: Пользователь успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/login:
    post:
      summary: Авторизация пользователя
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        "200":
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: "#/components/schemas/User"

  /courses:
    get:
      summary: Список всех опубликованных курсов
      tags: [Courses]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 12
        - name: category
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Список курсов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Course"
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer

    post:
      summary: Создание нового курса (только для преподавателей и админов)
      tags: [Courses]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, slug]
              properties:
                title: { type: string }
                slug: { type: string }
                subtitle: { type: string }
                description: { type: string }
                price: { type: number }
                currency: { type: string }
                level: { type: string }
      responses:
        "201":
          description: Курс создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"

  /courses/{courseId}:
    get:
      summary: Получить подробную информацию о курсе
      tags: [Courses]
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Детали курса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"

  /courses/{courseId}/sections:
    get:
      summary: Получить все разделы курса
      tags: [Content]
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Список разделов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Section"

  /courses/{courseId}/enroll:
    post:
      summary: Записаться на курс / купить курс
      tags: [Enrollments]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                promoCode:
                  type: string
      responses:
        "200":
          description: Успешная запись на курс
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enrollment"
        "402":
          description: Требуется оплата
        "409":
          description: Уже записан на курс

  /me/progress:
    get:
      summary: Прогресс пользователя по всем курсам
      tags: [Progress]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Прогресс по курсам
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    courseId: { type: integer }
                    progress: { type: number }
                    status: { type: string }

  /me/courses/{courseId}/lessons/{lessonId}/progress:
    patch:
      summary: Обновить прогресс урока
      tags: [Progress]
      security:
        - BearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: lessonId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                percent:
                  type: number
                completed:
                  type: boolean
                lastWatchedSec:
                  type: integer
      responses:
        "200":
          description: Прогресс обновлен
