openapi: 3.0.3
info:
  title: Online Courses Platform API
  description: API для платформы онлайн-курсов (аналог Docusaurus + LMS функционал)
  version: 0.1.0
  contact:
    name: Artem
    email: artem@example.com

servers:
  - url: https://api.courses-platform.com/v1
    description: Production server
  - url: http://localhost:3001
    description: Local development

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ApiResponse:
      type: object
      properties:
        status:
          type: integer
          nullable: false
        data:
          type: object
          nullable: true
        success:
          type: boolean
          nullable: false
        requestID:
          type: string
          nullable: false

    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        fullName:
          type: string
        avatarUrl:
          type: string
          nullable: true
        role:
          type: string
          enum: [student, instructor, admin]
        createdAt:
          type: string
          format: date-time
    UserCreate:
      type: object
      required: [email, password, fullName]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        fullName:
          type: string
    TokenRefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          description: Refresh токен, полученный при логине

    TokenResponse:
      type: object
      required: [accessToken, refreshToken]
      properties:
        accessToken:
          type: string
          description: Новый access-токен (JWT)
        refreshToken:
          type: string
          description: Новый refresh-токен (opaque token, rotation)
        expiresIn:
          type: integer
          description: Время жизни access-токена в секундах (например 900 = 15 мин)

    UserUpdate:
      type: object
      properties:
        fullName:
          type: string
          minLength: 2
          maxLength: 100
        avatarUrl:
          type: string
          format: uri
          nullable: true
        password:
          type: string
          minLength: 8
          description: Новый пароль (если меняется)
        currentPassword:
          type: string
          minLength: 8
          description: Текущий пароль (обязателен при смене пароля)

    UserDeleteRequest:
      type: object
      required: [password]
      properties:
        password:
          type: string
          description: Текущий пароль для подтверждения удаления
    Course:
      type: object
      properties:
        id:
          type: integer
          format: int64
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        coverUrl:
          type: string
        status:
          type: string
          enum: [draft, published, archived]
        price:
          type: number
        currency:
          type: string
          example: EUR
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CourseCreate:
      type: object
      required: [title, slug]
      properties:
        title:
          type: string
          minLength: 3
        slug:
          type: string
          pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
        subtitle:
          type: string
        description:
          type: string
        coverUrl:
          type: string
          format: uri
        price:
          type: number
          minimum: 0
        currency:
          type: string
          example: EUR
        level:
          type: string
          enum: [beginner, intermediate, advanced]

    CourseUpdate:
      type: object
      properties:
        title:
          type: string
        slug:
          type: string
        subtitle:
          type: string
        description:
          type: string
        coverUrl:
          type: string
          format: uri
        status:
          type: string
          enum: [draft, published, archived]
        price:
          type: number
          minimum: 0
        currency:
          type: string
        level:
          type: string
          enum: [beginner, intermediate, advanced]

    Section:
      type: object
      properties:
        id:
          type: integer
          format: int64
        courseId:
          type: integer
          format: int64
        title:
          type: string
        order:
          type: integer
        isFreePreview:
          type: boolean
        estimatedTime:
          type: integer
          description: minutes
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SectionCreate:
      type: object
      required: [title, order]
      properties:
        title:
          type: string
        order:
          type: integer
        isFreePreview:
          type: boolean
          default: false
        estimatedTime:
          type: integer
          description: minutes

    SectionUpdate:
      type: object
      properties:
        title:
          type: string
        order:
          type: integer
        isFreePreview:
          type: boolean
        estimatedTime:
          type: integer

    Lesson:
      type: object
      properties:
        id:
          type: integer
          format: int64
        sectionId:
          type: integer
          format: int64
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment, pdf, coding, embed]
        content:
          type: string
          description: URL видео, текст, markdown, JSON для quiz и т.д.
        order:
          type: integer
          description: Порядковый номер урока внутри раздела
        durationSec:
          type: integer
          nullable: true
        isPublished:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LessonCreate:
      type: object
      required: [title, type, order]
      properties:
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment, pdf, coding, embed]
        content:
          type: string
        order:
          type: integer
        durationSec:
          type: integer
        isPublished:
          type: boolean
          default: false

    LessonUpdate:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
          enum: [video, text, quiz, assignment, pdf, coding, embed]
        content:
          type: string
        order:
          type: integer
        durationSec:
          type: integer
        isPublished:
          type: boolean

    Enrollment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [active, completed, expired, refunded]
        progress:
          type: number
          format: float
          description: 0-100
        enrolledAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer

paths:
  /auth/register:
    post:
      operationId: authRegisterUser
      summary: Регистрация нового пользователя
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreate"
      responses:
        "201":
          description: Пользователь успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/login:
    post:
      operationId: authLoginUser
      summary: Авторизация пользователя
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        "200":
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: "#/components/schemas/User"

  /auth/refresh:
    post:
      operationId: authRefreshToken
      summary: Обновление access-токена с помощью refresh-токена (token rotation)
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRefreshRequest"
      responses:
        "200":
          description: Токены успешно обновлены (refresh rotation)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Недействительный или истёкший refresh-токен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Некорректный запрос (отсутствует refreshToken)

  /me:
    get:
      operationId: getCurrentUser
      summary: Получить информацию о текущем пользователе
      tags: [Users, Me]
      responses:
        "200":
          description: Информация о пользователе
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Не авторизован

    patch:
      operationId: updateCurrentUser
      summary: Обновить данные текущего пользователя (fullName, avatar, пароль)
      tags: [Users, Me]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdate"
      responses:
        "200":
          description: Пользователь успешно обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Некорректные данные (например, слабый пароль)
        "401":
          description: Не авторизован
        "403":
          description: Неверный текущий пароль при смене пароля

    delete:
      operationId: deleteCurrentUser
      summary: Удалить аккаунт текущего пользователя (с подтверждением паролем)
      tags: [Users, Me]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserDeleteRequest"
      responses:
        "204":
          description: Аккаунт успешно удалён (все данные, курсы, прогресс удаляются)
        "400":
          description: Неверный пароль
        "401":
          description: Не авторизован

  /me/progress:
    get:
      operationId: getUserProgress
      summary: Прогресс пользователя по всем курсам
      tags: [Progress]

      responses:
        "200":
          description: Прогресс по курсам
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    courseID: { type: string }
                    progress: { type: number }
                    status: { type: string }

  /me/courses/{courseID}/lessons/{lessonID}/progress:
    patch:
      operationId: updateLessonProgress
      summary: Обновить прогресс урока
      tags: [Progress]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: lessonID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                percent:
                  type: number
                completed:
                  type: boolean
                lastWatchedSec:
                  type: integer
      responses:
        "200":
          description: Прогресс обновлен

  /users/{userId}:
    delete:
      operationId: deleteUserById
      summary: Удалить пользователя (только для админов)
      tags: [Users, Admin]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Пользователь удалён
        "403":
          description: Недостаточно прав (только admin)
        "404":
          description: Пользователь не найден

  /courses:
    get:
      operationId: getCourses
      summary: Список всех опубликованных курсов (для всех пользователей)
      tags: [Courses]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 12
        - name: category
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
          description: Поиск по названию или описанию
      responses:
        "200":
          description: Список курсов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"

        "400":
          description: Некорректные параметры запроса

    post:
      operationId: createCourse
      summary: Создание нового курса (только для преподавателей и админов)
      tags: [Courses]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CourseCreate"
      responses:
        "201":
          description: Курс успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "400":
          description: Некорректные данные (например, slug уже занят)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Недостаточно прав

  /courses/{courseID}:
    get:
      operationId: getCourseByID
      summary: Получить подробную информацию о курсе
      tags: [Courses]
      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Детали курса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "404":
          description: Курс не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      operationId: updateCourse
      summary: Частично обновить курс (для преподавателей и админов)
      tags: [Courses]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CourseUpdate"
      responses:
        "200":
          description: Курс обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Нет прав на редактирование этого курса
        "404":
          description: Курс не найден

    delete:
      operationId: deleteCourse
      summary: Удалить курс (только для админов или владельца)
      tags: [Courses]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Курс успешно удалён
        "403":
          description: Нет прав на удаление (например, курс имеет активных студентов)
        "404":
          description: Курс не найден

  /courses/{courseID}/sections:
    get:
      operationId: getSections
      summary: Получить все разделы курса
      tags: [Sections]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Список разделов курса
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Section"
        "404":
          description: Курс не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      operationId: createSection
      summary: Создать новый раздел в курсе (для преподавателей/админов)
      tags: [Sections]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SectionCreate"
      responses:
        "201":
          description: Раздел успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Section"
        "400":
          description: Некорректные данные (например, order уже занят)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Нет прав на создание раздела в этом курсе
        "404":
          description: Курс не найден

  /courses/{courseID}/sections/{sectionID}:
    get:
      operationId: getSectionByID
      summary: Получить информацию об одном разделе курса
      tags: [Sections]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Детали раздела
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Section"
        "403":
          description: Нет доступа (раздел скрыт и пользователь не автор)
        "404":
          description: Раздел или курс не найден

    patch:
      operationId: updateSection
      summary: Обновить раздел (для преподавателей/админов)
      tags: [Sections]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SectionUpdate"
      responses:
        "200":
          description: Раздел обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Section"
        "400":
          description: Некорректные данные
        "403":
          description: Нет прав на редактирование
        "404":
          description: Раздел или курс не найден

    delete:
      operationId: deleteSection
      summary: Удалить раздел (для преподавателей/админов)
      tags: [Sections]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Раздел успешно удалён
        "403":
          description: Нет прав на удаление (например, в разделе есть уроки)
        "404":
          description: Раздел или курс не найден

  /courses/{courseID}/sections/{sectionID}/lessons:
    get:
      operationId: getLessons
      summary: Получить список всех уроков в разделе курса
      tags: [Lessons]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
        - name: publishedOnly
          in: query
          schema:
            type: boolean
            default: true
          description: Показывать только опубликованные уроки (для студентов)
      responses:
        "200":
          description: Список уроков раздела
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Lesson"
        "404":
          description: Курс или раздел не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      operationId: createLesson
      summary: Создать новый урок в разделе (для преподавателей/админов)
      tags: [Lessons]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LessonCreate"
      responses:
        "201":
          description: Урок успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lesson"
        "400":
          description: Некорректные данные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Нет прав на создание урока в этом курсе
        "404":
          description: Курс или раздел не найден

  /courses/{courseID}/sections/{sectionID}/lessons/{lessonID}:
    get:
      operationId: getLessonByID
      summary: Получить информацию об одном уроке
      tags: [Lessons]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
        - name: lessonID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Детали урока
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lesson"
        "403":
          description: Нет доступа (например, урок не опубликован и пользователь не автор курса)
        "404":
          description: Урок не найден

    patch:
      operationId: updateLesson
      summary: Обновить урок (для преподавателей/админов)
      tags: [Lessons]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
        - name: lessonID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LessonUpdate"
      responses:
        "200":
          description: Урок обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lesson"
        "400":
          description: Некорректные данные
        "403":
          description: Нет прав на редактирование
        "404":
          description: Урок не найден

    delete:
      operationId: deleteLesson
      summary: Удалить урок (для преподавателей/админов)
      tags: [Lessons]

      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
        - name: sectionID
          in: path
          required: true
          schema:
            type: string
        - name: lessonID
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Урок успешно удалён
        "403":
          description: Нет прав на удаление
        "404":
          description: Урок не найден

  /courses/{courseId}/enroll:
    post:
      operationId: enrollCourse
      summary: Записаться на курс / купить курс
      tags: [Enrollments]

      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                promoCode:
                  type: string
      responses:
        "200":
          description: Успешная запись на курс
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enrollment"
        "402":
          description: Требуется оплата
        "409":
          description: Уже записан на курс
